h1{
    text-align: center;
}
.main_page{
    width: 100%;
    height: 100%;
    background: #3E5151;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  
    background: linear-gradient(to right, #DECBA4, #3E5151); 
    display: flex;
    flex-direction: row;
}
.calculator{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 

    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #EEE5E9;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.calculator_input{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100px;
    border-radius: 10px;
    border: #EEE5E9 solid 2px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    top: 10px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;

}
.calculator_buttons{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    height: 55%;
}
.number_buttons{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.button7_9{
    display: flex;
    flex-direction: row;
    height: 25%;
}
.button7_9 button:nth-child(1){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button7_9 button:nth-child(2){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 200;
    left: 5px;
}
.button7_9 button:nth-child(3){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 200;
    left: 10px;
}
.button4_6{
    display: flex;
    flex-direction: row;
    height: 25%;
    position: relative;
    top: 5px;
}
.button4_6 button:nth-child(1){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button4_6 button:nth-child(2){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 5px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button4_6 button:nth-child(3){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button1_3{
    display: flex;
    flex-direction: row;
    height: 25%;
    position: relative;
    top: 10px;
}
.button1_3 button:nth-child(1){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button1_3 button:nth-child(2){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 5px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button1_3 button:nth-child(3){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.buttondot_equal{
    display: flex;
    flex-direction: row;
    height: 25%;
    position: relative;
    top: 15px;
}
.buttondot_equal button:nth-child(1){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.buttondot_equal button:nth-child(2){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 5px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.buttondot_equal button:nth-child(3){
    width: 30%;
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

.operator_buttons{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.button_clear{
    height: 25%;
}
.button_clear button{
    width: 100%;
    height: 100%;
    background-color: #a6a6a6;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button_plus_minus{
    display: flex;
    flex-direction: row;
    height: 25%;
    position: relative;
    top: 5px;
}
.button_plus_minus button:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: #fe9505;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button_plus_minus button:nth-child(2){
    width: 100%;
    height: 100%;
    background-color: #fe9505;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 2px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

.button_mul_div{
    display: flex;
    flex-direction: row;
    height: 25%;
    position: relative;
    top: 10px;
}
.button_mul_div button:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: #fe9505;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button_mul_div button:nth-child(2){
    width: 100%;
    height: 100%;
    background-color: #fe9505;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 2px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button_mod_pow{
    display: flex;
    flex-direction: row;
    height: 25%;
    position: relative;
    top: 15px;
}
.button_mod_pow button:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: #fe9505;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.button_mod_pow button:nth-child(2){
    width: 100%;
    height: 100%;
    background-color: #fe9505;
    border-radius: 10px;
    border: #EEE5E9 solid 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 2px;
    color: white;
    font-size: 20px;
    font-weight: 200;
}